name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Use Node.js 24
        uses: actions/setup-node@v3.1.0
        with:
          node-version: 24
      - name: Install dependencies
        run: npm i
      - name: Lint checks
        run: npm run lint:ci
